

  <main class="main">
    <div class="Cloud">
  
      <div><img class="ilustration-login" src="../assets/Illustrations/air_conditioner8.png" alt=""></div>
   <!-- <img src="./Img/conditionerAir.png" alt="" id="logoAire"> -->
   <!-- ya se fueron, este es para comprobar que salio bien -->
     <div id="login-container">
        <div id="circulo1"></div>
        <div id="circulo2"></div>
        <div id="circulo3"></div>
        <div id="titlel">
          <p>Compra, venta & mantenimiento de aires acondicionados</p>
        </div>
        <form class="form-container" [formGroup]="loginForm" (submit)="onSubmit($event)">
          <app-input-label inputId="email" inputName="email" placeholder="Correo electrónico" [control]="loginForm.controls['email']"></app-input-label>
          <app-input-label inputId="password" inputName="password" placeholder="contraseña" [control]="loginForm.controls['password']"></app-input-label>
        
          <div id="LoginButton">
            <br><br><br>
            <app-button type="button" ButtonName="Iniciar sesion" id="login" ></app-button>
            <div id="recuperar" href="#">
              <br>
              <p id="forget">¿Has olvidado tu contraseña?</p>
              <br>
            </div>
            <app-button ButtonName="Crear cuenta nueva" id="newlogin"></app-button>
           
          </div>
        </form>
     </div>
    </div>
  </main>