

.combo_box {
    position: relative;
    display: inline-block;
    margin-right: 50px;
  }
  
  .combo_box select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 150px;
    font-size: 12px;
    border-style: none;
    cursor: pointer;
    border-radius: 20px;
    height: 25px;
    text-align: center;
    background-color: rgba(129, 202, 235, 1);
  }
  
  .combo_box::before {
    content: "\25BD";
    position: absolute;
    display: flex;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    pointer-events: none;
  }