button{
    border-radius: 50px;
    height: 50px;
    width: 306px;
    text-align: center;
    justify-content: center;
    cursor: pointer;
    background-color: rgb(0, 195, 255);
    margin-left: calc(100% - 255px);
    color: azure;
}


button:hover{
    box-shadow: inset 0 0 20px rgba(49, 138, 172, 0.5), 0 0 20px rgba(49, 138, 172, 0.4);
    outline-color: rgba(49, 138, 172, 0);
    outline-offset: 80px;
    text-shadow: 1px 1px 6px #fff;
    background-color: #05c765;
    transition: all 500ms ease-in-out;
    font-weight: bold;
}

button:active{
    height: 40px;
    width: 200px;
}