
<div id="containerSuper">
    <div id="navegacion">
        <nav id="navsearch">
            <div id="slogan">
                <img src="..//src/assets/Illustrations/aireacondicionado.png" alt="" id="logocmv" />
                <p id="nombrenegocio">CVM</p>
            </div>
            <div class="buscar">
                <input type="text" required id="barrabuscar" />
                <div class="btn">
                    <img src="..//src/assets/Illustrations/search.svg" id="imgsearch" />
                    <i class="fas fa-search-dollar"></i>
                </div>
            </div>
        
            <div class="toggle-btn">
                <input type="radio" id="btn-tienda" name="toggle-btn" checked>
                <label for="btn-tienda" id="btnt">Tienda</label>
                
                <input type="radio" id="btn-servicios" name="toggle-btn">
                <label for="btn-servicios" id="btns">Servicios</label>
              </div>
            </nav>
              <nav id="filter">
                <p id="f">Filtros:</p>
                <app-comboboxcomp ValorPrimario="tiempo de uso" valor1="un mes" valor2="dos meses" valor3="tres meses" valor4="cuatro meses" valor5="cinco meses" valor6="seis meses"></app-comboboxcomp>
                <app-comboboxcomp ValorPrimario="precio" valor1="menor a 1,000,000" valor2="menor a 2,000,000" valor3="menor a 3,000,000" valor4="menor a 4,000,000" valor5="menor a 5,000,000" valor6="menor a 6,000,000"></app-comboboxcomp>
                <div id="separa"></div>
                <div id="log">
                    <button id="logIn">crea tu cuenta</button>
                    <button id="logIn">ingresa</button>
                </div>
    
                <div>
                    <img src="..//src/assets/Illustrations/download.svg" alt="" id="shop" />
                </div>
            </nav>
    </div>
    <div id="space"></div>
        <section  id="comprayventa">
            <div id="cntlist">
                <strong>COMPRA-VENTA</strong>
            <li>Aires Acondicionados Nuevos</li>
            <li>Tu usado ideal</li>
            <li>Compramos tu aire acondicionado</li>
            </div>
            <div> <img src="..//src/assets/Illustrations/homeScreen.png" alt="" id="portadaaire"></div>
        </section>
        <section id="scrollservices">
            <app-serviciosaa NombreAccion="Compra" TextoAccion="Aires Acondicionados" url="..//src/assets/Illustrations/logoS11.png"></app-serviciosaa>
            <app-serviciosaa NombreAccion="Solicita" TextoAccion="Nuestros Servicios" url="..//src/assets/Illustrations/logoS2.png"></app-serviciosaa>
            <app-serviciosaa NombreAccion="Vende" TextoAccion="Tu Aire Acondicionado" url="..//src/assets/Illustrations/logoS11.png"></app-serviciosaa>
        </section>
        <div id="news">
            <p> Nuevo en nuestra tienda </p>
        </div>
          <!-- AQUI VIENE LO QUE SON LOS COMPONENTES DE LOS PRODUCTOS Y SERVICIOS -->
          <section class="seccionPM">
            <div id="contenido">
                <aside class="servicios">
                    <div class="tanda1">
                        <app-talkproducts NombreAire="Mirage Life + split frío" Estado="nuevo" Precio="$1,812,900" urli="..//src/assets/Illustrations/aire1.png"></app-talkproducts>
                        <app-talkproducts NombreAire="Hisense tipo split" Estado="nuevo" Precio="$1,550,000" urli="..//src/assets/Illustrations/aire2.png"></app-talkproducts>
                        <app-talkproducts NombreAire="LG mini Split Frio/calor" Estado="exelente" Precio="$1,290,000" urli="..//src/assets/Illustrations/aire3.png"></app-talkproducts>
                        <app-talkproducts NombreAire="Inventor Inverter 220v" Estado="nuevo" Precio="$1,709,900" urli="..//src/assets/Illustrations/aire4.png"></app-talkproducts>
                    </div>
                    <div class="tanda2">
                        <app-talkproducts NombreAire="BHG Convencional 220v" Estado="exelente" Precio="$1,212,000" urli="..//src/assets/Illustrations/aire5.png"></app-talkproducts>
                        <app-talkproducts NombreAire="LG Dualcool 220v" Estado="bueno" Precio="$760,000" urli="..//src/assets/Illustrations/aire6.png"></app-talkproducts>
                        <app-talkproducts NombreAire="Samsung Split Inverter" Estado="bueno" Precio="$915,000" urli="..//src/assets/Illustrations/aire7.png"></app-talkproducts>
                        <app-talkproducts NombreAire="Panasonic Split Inverter" Estado="exelente" Precio="$2,637,000" urli="..//src/assets/Illustrations/aire8.png"></app-talkproducts>
                    </div>
                    <div class="tanda3">
                        <section class="more">
                            <p>y mucho más...</p>
                        </section>
                    </div>
                </aside>
            </div>
        </section>
          <!-- AQUI VIENE LO QUE ES EL FOOTER -->
          <footer>
            <div id="relfaq">
                <p id="p1">Términos y condiciones</p>
                <p id="p2">Cómo cuidamos tu privacidad</p>
                <p id="p3">Ayuda / PQR</p>
            </div>

            <p id="direccion">
                Copyright 2000-2023 Compra-Venta y Mantenimiento e Aires
                Acondicionados
            </p>
            <p id="direccion">Carrera 25 Número 37 - 26 Piso 2, Lorica-Cordoba, Colombia</p>

            <section class="logosAsociados">
                <img src="..//src/assets/Illustrations/logoYork.png" alt="aws" id="imgslogo2" />

                <img src="..//src/assets/Illustrations/logoSamsungElectronics.png" alt="aws" id="imgslogo2" />

                <img src="..//src/assets/Illustrations/logoPanasonic.jpg" alt="aws" id="imgslogo2" />

                <img src="..//src/assets/Illustrations/logoLG.png" alt="aws" id="imgslogo2" />
            </section>
        </footer>
</div>