

  
 
  

.svc {
    border-style: groove;
    border-width: 1px;
    border-color: gray;
    margin-left: 1%;
    width: 300px;
    margin-right: 1%;
    margin-top: 1%;
    margin-bottom: 1%;
    border-radius: 60px;
  }
  
  #imgslogo {
    margin-top: 10%;
    height: 120px;
    width: 100%;
    position: static;
    display: flex;
    margin-left: 0%;
    margin-bottom: 5px;
  }
  
  .rectangleSE {
    text-align: center;
    margin-left: 20%;
    margin-bottom: 2%;
    height: 12%;
    width: 60%;
    background-color: gray;
    color: white;
    border-radius: 5px;
  }
  
  #details {
    text-align: justify;
    margin: 4%;
    color: black;
  }
  
    .rating {
      display: flex;
      flex-direction: row-reverse;
      font-size: 24px;
      margin-top: -10px;
      justify-content: center;
    }
  
    .star {
      padding: 5px;
      cursor: pointer;
    }
  
    #star5[type="radio"],
    #star4[type="radio"],
    #star3[type="radio"],
    #star2[type="radio"],
    #star1[type="radio"] {
      display: none;
    }
  
    #star5[type="radio"]:checked~.star,
    #star4[type="radio"]:checked~.star,
    #star3[type="radio"]:checked~.star,
    #star2[type="radio"]:checked~.star,
    #star1[type="radio"]:checked~.star {
      color: gold;
    }
  
    #estadoyprecio {
      justify-content: center;
      display: grid;
      margin-bottom: 20px;
    }
  
    #starandstates{
      display: flex;
      align-items: center;
      justify-content: center;
    }

    #nuevon {
      margin-bottom: 9px;
      margin-left: 40px;
      font-weight: bold;
      font-size: 20px;
    }

    #valoraire{
      color: #51C177;
      font-size: 30px;
      font-weight: bold;
    }