
<style>
  .main{
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
  }
 
   #circulo3{
   height: 100%;
   width: 50%;
   background:#A6CDDE;
   border-radius:50%;
   position:absolute;
   left: -25%;
  }

  #circulo2{
   height: calc(100% + 50px);
   width: 50%;
   background:#c4dce7;
   border-top-right-radius: 50%;
   border-bottom-right-radius: 50%;
   position: absolute;
   left: -18%;
   top: -20px;
  }

  #circulo1{
   height: calc(100% + 100px);
   width: 50%;
   background:#E6F3F9;
   border-top-right-radius: 50%;
   border-bottom-right-radius: 50%;
   position:absolute;
   left: -11%;
   top: -50px;
  }

  button{
    margin-left: 50%;
    margin-top: 20%;
    background-color: #A6CDDE;
    height: 35px;
    width: 20%;
    border-radius: 50px;
  }

  /* p{
    color: white;
    @import url('https://fonts.googleapis.com/css2?family=Jost:wght@300&display=swap');
  } */

  /* section{
    margin-left: 40%;
    height: 10%;
    width: 20%;

  } */

  #sectionimg {
    clip-path: inset(100px 0px 0px 0px);
    position: fixed;
    margin-left: 20%;
    height: 80%;
    z-index: 1;
  }

  #logoAire{
    margin-left: 50%;
    height: 200px;
    width: 200px;
    z-index: 1000;
  }

  #login {
    height: 100px;
    width: 100px;
    margin: 100px;
    text-decoration-color: white;
  }

  app-input-label{

    margin-bottom: 20px;
    margin: 100px;
    background-color: none;
  }

  #titlel{
    text-align: right;
    margin-bottom: 4%;
    margin-top: 5%;
    margin-left: 62%;
    width: 25%;
    font-size: 25px;
  }

  #recuperar{
    cursor: pointer;
    margin-left: 65%;
    border-style: groove;
    margin-bottom: 30px;
    text-align: center;
    width: 22%;
    border-top: 0;
    border-left: 0;
    border-right: 0;
  }

  #recuperar:active, #recuperar:hover{
    text-decoration: rgb(99, 211, 219);
  }
</style>

<main class="main">
  <div class="Cloud">

    
 <!-- <img src="./Img/conditionerAir.png" alt="" id="logoAire"> -->
    <div id="circulo1"></div>
    <div id="circulo2"></div>
    <div id="circulo3"></div>

    <div id="titlel">
      <p>Compra, venta & mantenimiento de aires acondicionados</p>
    </div>

    <!-- aqui vienen los inputs -->
    <app-input-label LabelName="Correo electronico o télefono"></app-input-label>
    <app-input-label LabelName="Contraseña"></app-input-label>

    <div id="LoginButton">
      <app-button type="button" ButtonName="Iniciar sesion" id="login"></app-button>
      <div id="recuperar" href="#">
        ¿Has olvidado tu contraseña?
        <br><br>
      </div>
      <app-button ButtonName="Crear cuenta nueva" id="newlogin"></app-button>
    </div>

  </div>
</main>

<router-outlet></router-outlet>
